.tv-item .v-input--density-compact {
  --v-input-control-height: 20px;
  margin-inline-start: -5px;
  font-size: 9px !important;

}

.tv-item:focus {
  outline: none;
  background-color: rgba(var(--v-theme-primary), 0.05);
}

.tv-item-active:focus {
  background-color: rgba(var(--v-theme-primary), 0.1);
}

.child-box {
  margin-inline-start: 20px;
  font-size: 12px !important;

}

.child-item:not(:last-child)::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid lightgrey;
  width: 15px;
  border-inline-start: 1px solid lightgrey;
  height: 100%;
  /* right: -13px; */
  margin-inline-start: -13px;
  top: 16px;
  font-size: 9px !important;

}
.child-item:first-child::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid lightgrey;
  width: 15px;
  border-inline-start: 1px solid lightgrey;
  height: 22px;
  margin-inline-start: -13px;
  top: -6px;
  right: 0px;
  left: 0px;
}

.tv-item-expand-icon {
  font-family: arial !important;
  font-size: 14pt;
  font-style: normal;
  margin-inline: 2px;
  border: 1px solid grey;
  line-height: 0;
  height: 15px;
  display: inline-grid;
  width: 15px;
  object-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-inline-start: -22px;
  background-color: white;
  color: grey;
  z-index: 1;
  position: absolute;
  top: 8px;
}

.tv-item {
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
}
.tv-item-active {
  background: rgb(var(--v-theme-primary), 20%);
}

.tv-item svg {
  width: 22px;
  height: 22px;
}

.child-item:focus-visible,
.tv-item:focus-visible {
  outline: unset;
}

.tv-item .v-selection-control__wrapper {
  color: rgb(var(--v-theme-primary));
}
.text-grey{ 
  display: inline-block;     
  max-width: 300px;         
  overflow: hidden;         
  text-overflow: ellipsis;  
  white-space: nowrap;       
  direction: rtl;           
  cursor: pointer; 
 } 

