@import './base.css';
@import './layout.css';

/* IranSans font */

/* @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_Black.eot');
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/IranSans/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),
    url('fonts/IranSans/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),
    url('fonts/IranSans/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/IranSans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
    url('fonts/IranSans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
    url('fonts/IranSans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/IranSans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
    url('fonts/IranSans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
    url('fonts/IranSans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/IranSans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
    url('fonts/IranSans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
    url('fonts/IranSans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/IranSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
    url('fonts/IranSans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
    url('fonts/IranSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
} */

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum).ttf');
  src: url('fonts/IranSans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('fonts/IranSans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IranSans/woff/IRANSansWeb(FaNum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IranSans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
  font-family: IRANYekan;
  src: url(fonts/iranyekanwebregularfanum.ttf);
}

@font-face {
  font-family: Anjoman;
  src: url(fonts/Anjoman-FaNum-Regular.woff);
}

@font-face {
  font-family: Aviny;
  src: url(fonts/aviny.woff);
}

@font-face {
  font-family: Dana;
  src: url(fonts/dana-regular.woff);
}

@font-face {
  font-family: IRANSharp;
  src: url(fonts/iransharp_regular_web.ttf);
}

@font-face {
  font-family: Kalameh;
  src: url(fonts/KalamehWeb_Regular.ttf);
}

* {
  letter-spacing: 0 !important;
  scrollbar-width: thin;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

#app {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  transition: all 0.5s ease;
}

a {
  color: rgb(var(--v-theme-primary));
}

a:hover {
  text-decoration: underline;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type='number'] {
  -moz-appearance: textfield;
  text-align: left !important;
  direction: ltr !important;
  padding-inline-start: 6px;
  padding-inline-end: 0px;
}

.v-messages .v-messages__message {
  font-size: 10px;
}

.v-dialog .v-card-title {
  font-size: 20px !important;
}

.v-dialog .pishro-caption {
  font-size: 12px !important;
}

.v-radio .v-label {
  opacity: 1 !important;
}

.v-list-item__prepend>.v-badge .v-icon,
.v-list-item__prepend>.v-icon,
.v-list-item__append>.v-badge .v-icon,
.v-list-item__append>.v-icon {
  opacity: 1 !important;
}

.ql-snow .ql-picker-options {
  background-color: rgb(var(--v-theme-surface));
}

.ql-snow .ql-picker {
  color: rgb(var(--v-theme-grey));
}

.ql-snow .ql-stroke {
  stroke: rgb(var(--v-theme-grey));
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: rgb(var(--v-theme-grey));
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover {
  background-color: #f3f4f6bb;
}

.ql-toolbar {
  direction: ltr;
}

.mx-menu-ghost-host {
  z-index: 9999 !important;
}

.mx-context-menu {
  background-color: rgb(var(--v-theme-surface)) !important;
  border: 1px solid lightgray !important;
  direction: rtl;
}

.mx-context-menu.win10,
.mx-menu-bar.win10 {
  box-shadow: 2px 2px 1px 0 rgb(var(--v-theme-container));
}

.mx-context-menu-item .icon {
  color: #588bff;
}

.mx-context-menu-item .label {
  font-family: 'IRANSANS' !important;
}

.mx-context-menu-item {
  cursor: pointer;
}

.mx-context-menu-item:hover {
  background-color: rgb(var(--v-theme-container)) !important;
}

.dialog-topbar {
  position: sticky;
  top: 0;
  background-color: rgb(var(--v-theme-surface));
  z-index: 1;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.dialog-bottombar {
  position: sticky;
  bottom: 0;
  background-color: rgb(var(--v-theme-surface));
  z-index: 1;
  border-top: 1px solid lightgray;
}

.v-btn {
  text-transform: capitalize;
}

.v-btn .v-icon {
  --v-icon-size-multiplier: 1.1;
}

.v-btn__content {
  height: 100%;
}

.v-field__input {
  align-self: center;
}

.v-select__selection-text {
  display: flex;
  align-items: center;
}

.v-checkbox .v-label {
  opacity: 1 !important;
}

.vpd-input-group .vpd-clear-btn {
  color: unset;
  line-height: 43px !important;
}

.vpd-input-group:hover.vpd-input-group input {
  border: 1px solid #000000 !important;
}

.vpd-input-group input {
  border: 1px solid #00000061 !important;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
  background: transparent;
  color: unset;
  line-height: 41px !important;
  padding: 0 10px 0 0 !important;
  transition: all 0.3s ease;
  width: 100%;
}

.vpd-icon-btn {
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
}

.vpd-simple-content .vpd-addon-list-item {
  position: unset;
}

.vpd-main *,
.vpd-wrapper * {
  font-size: inherit;
  font-family: 'IRANSans' !important;
}

.vpd-controls {
  color: black;
}

/* .vpd-input-group label {
  color: rgb(var(--v-theme-surface)) !important;
}

.vpd-input-group label svg {
  fill: rgb(var(--v-theme-surface));
} */

.vpd-day:not(.vpd-empty) {
  color: black;
}

.v-tooltip {
  font-family: IRANSans !important;
}

.v-overlay {
  font-family: IRANSans !important;
}

.pishro-border {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.v-field {
  transition: all 0.3s ease;
}

.bg-surface {
  transition: all 0.3s ease;
}

.bg-container {
  transition: all 0.3s ease;
}

.bg-primary {
  transition: all 0.3s ease;
}

.end-chevron {
  transform: rotate(180deg);
}

.v-locale--is-rtl .end-chevron {
  transform: rotate(0deg);
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.right-menu::-webkit-scrollbar-thumb {
  width: 4px !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  z-index: 1;
}

fieldset {
  border-radius: 5px;
  padding: 8px;
}

a {
  text-decoration: none !important;
}

.v-icon {
  border-radius: 5px !important;
}

.v-dialog {
  margin: 5px !important;
  width: auto !important;
}

.v-divider {
  border-width: 1px !important;
}

.w-100 {
  width: 100% !important;
}

.pp-w-50 {
  width: 50% !important;
}

.pp-w-75 {
  width: 75% !important;
}

.pp-w-25 {
  width: 25% !important;
}

.pp-h-100vh {
  height: 100vh;
}

.pp-h-50 {
  height: 50% !important;
}

.h-100 {
  height: 100% !important;
}

.pp-h-auto {
  height: auto !important;
}

.pp-text-center {
  text-align: center;
}

.pp-text-justify {
  text-align: justify;
}

.pp-justify-center {
  justify-content: center;
}

.pp-justify-end {
  justify-content: end;
}

.pp-justify-flex-end {
  justify-content: flex-end;
}

.pp-align-center {
  align-items: center;
}

/* padding */

.pp-padding-none {
  padding: 0px;
}

.pp-px-none {
  padding-right: 0px;
  padding-left: 0px;
}

.pp-py-none {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* padding */

/* margin */

.pp-margin-none {
  margin: 0px;
}

.c-pointer {
  cursor: pointer;
}

/* margin */

.flickity-viewport {
  height: 150px !important;
}

.v-parallax__content {
  padding: 0px !important;
}

.panel-full-height {
  height: calc(100vh - 170px);
}

.tf-text-center input {
  text-align: center;
}

.v-field--error:not(.v-field--disabled) .v-field__outline {
  color: rgb(170, 170, 170) !important;
}