.account-expansion .v-expansion-panel:not(:first-child)::after {
    border: none !important;
}

.advanced-content::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 2px;
    background: rgb(var(--v-theme-info));
    height: calc(100% - 80px);
    top: 40px;
    margin-inline-start: 20px;
    opacity: 0.7;
}

.advanced-checkbox .mdi {
    opacity: 1 !important;
    color: rgb(var(--v-theme-info));
}

.advanced-checkbox .mdi::before {
    background: rgb(var(--v-theme-surface));
}

.checkbox-start-bar {
    background: #f6f6f6;
    width: 20px;
    margin: -12px;
    margin-inline-end: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
    position: absolute;
    top: 24px;
    bottom: 24px;
}

.check-card-arrow {
    z-index: 1 !important;
    transition: 0.3s ease;
    transform: rotate(0deg);
}

.opened-check-arrow {
    transform: rotate(180deg);
}

.remaining-box {
    position: sticky;
    top: 69px;
    background: rgb(var(--v-theme-surface));
    z-index: 1;
}

.amounts-details-box {
    position: sticky;
    top: 124px;
    background: rgb(var(--v-theme-surface));
    z-index: 1;
}